@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
@import "./var.css";

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--black-0);
  overflow-x: hidden;
  position: relative;
}

.highlight {
  color: var(--white-1);
}

.detail {
  color: var(--black-2);
  font-size: 0.75em !important;
  margin-top: 8px;
}

.pop-text {
  font-size: 1.5em;
}

a {
  color: var(--white-2);
}
p,
div {
  color: var(--black-3);
}

h1,
h2,
h3,
h4 {
  color: var(--white-0);
}

.header {
  color: var(--black-2);
}

button {
  background-color: transparent;
  border: 2px solid var(--yellow);
  color: var(--yellow);
  border-radius: 5px;
  padding: 8px 16px;
}

.text-right {
  text-align: right;
}

.backdrop {
  position: absolute;
  inset: 0 0 0 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: black;
  opacity: 0.8;
}

.mobile-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--black-0);
  z-index: 1100;
}

.mobile-nav {
  position: relative;
  z-index: 2000000;
  background-color: var(--black-0);
  list-style-type: none;
  width: 70vw;
  padding: 32px 48px;
  font-size: 2em;
  border-radius: 30px;
  border: 2px solid var(--black-1);
}

.mobile-nav li {
  margin: 16px 0;
  transform: translateX(20px);
  opacity: 0;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.fade-in {
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.page-container {
  width: var(--page-width);
  margin: 0 auto 64px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  gap: 32px;
}
